<%= form_for [:admin, @member] do |f| %>
  單位：<%= f.select :org_id, @options %> <br />
  姓名： <%= f.text_field :name %> <br />
  電話： <%= f.text_field :tel %> <br />
  email： <%= f.text_field :email %> <br />

  <!-- FIXME: try change f.select into f.radio -->
  SEI：<%= f.select :sei, @license_status %> <br />
  EDS：<%= f.select :eds, @license_status %> <br />
  EBSD：<%= f.select :ebsd, @license_status %> <br />

  <div class="form-actions">
    <%= f.submit "Submit", :disable_with => 'Submitting...', :class => "btn btn-primary"%> 
  </div>
<% end %>