<%= form_for [:admin, @member] do |f| %> 
  單位：<%= f.collection_select :org_id, 
           Org.all.order(identity_id: :asc, id: :asc), 
           :id, :name %> <br />
  姓名： <%= f.text_field :name %> <br />
  電話： <%= f.text_field :tel %> <br />
  email： <%= f.text_field :email %> <br />

  <!-- FIXME: try change f.select into f.radio -->
  SEI：<%= f.select :sei_bei_license, enum_option_pairs(Member, :sei_bei_license) %> <br />
  EDS：<%= f.select :eds_license, enum_option_pairs(Member, :eds_license) %> <br />
  EBSD：<%= f.select :ebsd_license, enum_option_pairs(Member, :ebsd_license) %> <br />

  <div class="form-actions">
    <%= f.submit "Submit", :disable_with => 'Submitting...', :class => "btn btn-primary"%> 
  </div>
<% end %>