<table class="table table-hover">
  <thead> 
    <tr>
      <th> # </th>
      <th> 姓名 </th>
      <th> 電話 </th>
      <th> 帳號 </th>
      <th> email </th>
      <th> 隸屬單位 </th>
      <th> 收費標準 </th>
      <th> SEI/BEI執照 </th>
      <th> EDS執照 </th>
      <th> EBSD執照 </th>
      <th colspan="2"> </th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %> 
    <tr>
      <td> <%= member.id %> </td>
      <td> <%= link_to(member.name, admin_member_path(member)) %> </td>
      <td> <%= member.tel %> </td>
      <td> <% if User.find_by(name: member.name).present? %>
             <i class="fa fa-check"></i>
           <% else %>
             <i class="fa fa-remove"></i>
           <% end %> </td>
      <td> <%= member.email %> </td>
      <td> <%= link_to(member.org.name, admin_org_path(member.org_id)) %> </td>
      <td> <%= link_to(member.org.identity.classification, admin_identity_path(member.org.identity_id)) %> </td>
      <td> <%= member.sei_bei_license %> </td>
      <td> <%= member.eds_license %> </td>
      <td> <%= member.ebsd_license %> </td>
      <td> <%= link_to(" Edit", 
                       edit_admin_member_path(member), 
                       :class => "btn btn-primary fa fa-pencil-square-o")%>
           <%= link_to(" Delete", 
                       admin_member_path(member), 
                       :class => "btn btn-danger fa fa-trash-o", 
                       :method => :delete,
                       data: { confirm: "Are you sure?" } ) %></td> 
    </tr>
    <% end %> 
  </tbody>
</table>