<table class="table table-hover">
  <thead> 
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>電話</th>
      <th>隸屬單位</th>
      <th>收費標準</th>
      <th>申請教學資格</th>
      <th>SEI教學完成</th>
      <th>SEI執照</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %> 
    <tr>
      <td> <%= link_to(member.id, admin_member_path(member)) %> </td>
      <td> <%= link_to(hide_member_name(member), admin_member_path(member)) %> </td>
      <td> <%= member.tel %> </td>
      <td> <%= link_to(member.org.name, admin_org_path(member.org_id)) %> </td>
      <td> <%= link_to(member.identity.classification, admin_identity_path(member.identity_id)) %> </td>
      <td> <%= member.education_permitted %> </td>
      <td> <%= member.educated_for_sei %> </td>
      <td> <%= member.license_for_sei %> </td>
      <td> <%= link_to("Edit", 
                       edit_admin_member_path(member), 
                       :class => "btn btn-sm btn-default")%>

           <%= link_to("Delete", 
                       admin_member_path(member), 
                       :class => "btn btn-sm btn-default", 
                       :method => :delete,
                       data: { confirm: "Are you sure?" } )%></td> 
    </tr>
    <% end %> 
  </tbody>
</table>