<div class="col-md-12">
  <div class="member">
    <%= link_to("編輯使用者", edit_admin_member_path(@member), :class => "btn btn-primary pull-right")%> 
  </div>
  <h1> 使用者 </h1>
  <h2> <%= @member.name %> </h2>
  <p> 電話： <%= @member.tel %> </p>
  <p> 隸屬單位： <%= @member.org.name %> </p>
  <p> 分類： <%= @member.org.identity.classification %> </p>
  <p> 申請教學資格： <%= @member.education_permitted %> </p>
  <p> SEI教學完成： <%= @member.educated_for_sei %> </p>
  <p> SEI執照： <%= @member.license_for_sei %> </p>
 
  <%= link_to("新增使用記錄", new_admin_record_path, :class => "btn btn-primary pull-right")%>
  <%= link_to("列出所有使用記錄", admin_records_path, :class => "btn btn-primary pull-right")%>
  <h3>使用記錄</h3>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 開始時間 </th>
        <th> 結束時間 </th>
        <th> 使用總時數 </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @records.each do |record| %>
      <tr>
        <td> <%= record.member_id %> </td>
        <td> <%= record.start_at %> </td>
        <td> <%= record.end_at %> </td>
        <td> <%= (record.end_at - record.start_at) / 3600 %> </td>
        <td> <%= link_to("Edit", 
                         "#", 
                         :class => "btn btn-sm btn-default")%>

             <%= link_to("Delete", 
                         "#", 
                         :class => "btn btn-sm btn-default", 
                         :method => :delete,
                         data: { confirm: "Are you sure?" } )%></td> 
      </tr>
      <% end %>
    </tbody>
  </table>
</div>