<div class="col-md-12"> 
  <h1>收費標準</h1>
  <p> 儀器使用時間未滿一小時者，以一小時計費。 </p>

  <div class="identity">
    <%= link_to("新增收費標準", new_admin_identity_path, :class => "btn btn-primary pull-right") %>
  </div>

  <table class="table table-hover">
    <thead> 
      <tr>
        <th> # </th>
        <th> 收費標準 </th>
        <th> SEI 費用 </th>
        <th> SEI + EDS 費用 </th>
        <th> SEI + EBSD 費用 </th>
        <th> SEI + EDS + EBSD 費用 </th>
        <th> 年使用費滿3萬折扣 </th>
        <th> 年使用費滿4萬折扣 </th>
        <th> 年使用費滿6萬折扣 </th>
      </tr>
    </thead>

    <tbody>
      <% @identities.each do |identity| %> 
      <tr>
        <td> <%= link_to(identity.id, admin_identity_path(identity)) %> </td>
        <td> <%= link_to(identity.classification, admin_identity_path(identity)) %> </td>
        <td> <%= number_to_currency(identity.sei_fee, precision: 0) %> </td>
        <td> <%= number_to_currency(identity.sei_eds_fee, precision: 0) %> </td>
        <td> <%= number_to_currency(identity.sei_ebsd_fee, precision: 0) %> </td>
        <td> <%= number_to_currency(identity.sei_eds_ebsd_fee, precision: 0) %> </td>
        <td> <%= number_to_percentage(identity.discount_above_30k, precision: 0) %> </td>
        <td> <%= number_to_percentage(identity.discount_above_40k, precision: 0) %> </td>
        <td> <%= number_to_percentage(identity.discount_above_60k, precision: 0) %> </td>
        <td> <%= link_to("Edit", 
                         edit_admin_identity_path(identity), 
                         :class => "fa fa-pencil-square-o")%>
             <%= link_to("Delete", 
                         admin_identity_path(identity), 
                         :class => "fa fa-trash-o", 
                         :method=>:delete,
                         data: { confirm: "Are you sure?" } )%></td> 
      </tr>
      <% end %> 
    </tbody>
  </table>
</div>