<div class="col-md-12">
  <div class="identity">
    <%= link_to("編輯分類", edit_admin_identity_path(@identity), :class => "btn btn-primary pull-right")%> 
  </div>
  <h1> 分類 </h1>
  <h2> <%= @identity.classification %> </h2>
  <p> SEI 費用： <%= @identity.sei_fee %> </p>
  <p> SEI + EDS 費用： <%= @identity.sei_eds_fee %> </p>
  <p> SEI + EBSD 費用： <%= @identity.sei_ebsd_fee %> </p>
  <p> SEI + EDS + EBSD 費用： <%= @identity.sei_eds_ebsd_fee %> </p>
  <p> 年使用費滿3萬折扣： <%= @identity.discount_above_30k %> </p>
  <p> 年使用費滿4萬折扣： <%= @identity.discount_above_40k %> </p>
  <p> 年使用費滿6萬折扣： <%= @identity.discount_above_60k %> </p>

  <%= link_to("新增使用單位", new_admin_org_path, :class => "btn btn-primary pull-right")%>
  <h3>使用單位</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> # </th>
        <th> 名稱 </th>
        <th> 全名 </th>
        <th> 地址 </th>
        <th> 電話 </th>
        <th> 備註 </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orgs.each do |org| %> 
      <tr>
        <td> <%= link_to(org.id, admin_org_path(org)) %> </td>
        <td> <%= link_to(org.name, admin_org_path(org)) %> </td>
        <td> <%= org.official_name %> </td>
        <td> <%= org.address %> </td>
        <td> <%= org.tel %> </td>
        <td> <%= org.note %> </td>
        <td> <%= link_to("Edit", 
                         edit_admin_org_path(org), 
                         :class => "btn btn-sm btn-default")%>

             <%= link_to("Delete", 
                         admin_org_path(org), 
                         :class => "btn btn-sm btn-default", 
                         :method => :delete,
                         data: { confirm: "Are you sure?" } )%></td> 
      </tr>
      <% end %> 
    </tbody>
  </table>
</div>