<div class="col-md-12"> 
  <div class="org">
    <%= link_to("New organization", new_org_path , :class => "btn btn-primary pull-right" ) %>
  </div>

  <table class="table table-hover">
    <thead> 
      <tr>
        <td> # </td>
        <td> Name </td>
        <td> Official name </td>
        <td> Address </td>
        <td> Telephone </td>
      </tr>
    </thead>

    <tbody>
      <% @orgs.each do |org| %> 
      <tr>
        <td> # </td>
        <td>  <%= link_to(org.name, org_path(org)) %> </td>
        <td>  <%= org.official_name %> </td>
        <td>  <%= org.address %> </td>
        <td>  <%= org.tel %> </td>
        <td>  <%= link_to("Edit", 
                          edit_org_path(org), 
                          :class => "btn btn-sm btn-default")%>

              <%= link_to("Delete", 
                          org_path(org), 
                          :class => "btn btn-sm btn-default", 
                          :method=>:delete,
                          data: { confirm: "Are you sure?" } )%></td> 
      </tr>
      <% end %> 
    </tbody>
  </table>
</div>