使用者：  <% if @reservation.member_id.nil? %>
           <%= current_user.member.name %>
         <% else %>
           <%= @reservation.member.name %>
         <% end %> <br />

<%= form_for @reservation do |f| %>
  開始時間：<%= f.datetime_select :start_at, 
                                 :ampm => false, 
                                 :minute_step => 10 %> <br />
  結束時間：<%= f.datetime_select :end_at, 
                                 :ampm => false, 
                                 :minute_step => 10 %> <br />

  <div class="form-actions">
    <%= f.submit "Submit", :disable_with => 'Submitting...', :class => "btn btn-primary"%>
  </div>
<% end %> 