<div class="col-md-12">

  <h1> 預約表 </h1>

  <%= link_to("新增預約", new_reservation_path, :class => "btn btn-primary pull-right") %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> id </th>
        <th> 使用者 </th>
        <th> 開始時間 </th>
        <th> 結束時間 </th>
        <th> 時段屬性 </th>
      <% if current_user.admin? %>
        <th colspan="2"> </th>         
      <% end %>
        
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %> 
      <tr>
        <td> <%= reservation.id %> </td>
        <td> <% if current_user.admin? %>
               <%= link_to(reservation.member.name, admin_member_path(member)) %>
             <% else %>
               <%= reservation.member.name %>
             <% end %> </td>
        <td> <%= reservation.start_at %> </td>
        <td> <%= reservation.end_at %> </td>
        <td> <%= reservation.section_type %> </td>
      <% if current_user.admin? %>
        <td> <%= link_to(" Edit", 
                         edit_reservation_path(reservation), 
                         :class => "btn btn-primary fa fa-pencil-square-o")%>
             <%= link_to(" Delete", 
                         reservation_path(reservation), 
                         :class => "btn btn-danger fa fa-trash-o", 
                         :method => :delete,
                         data: { confirm: "Are you sure?" } ) %></td>
      <% end %>
      </tr>
      <% end %> 
    </tbody>
  </table>  

</div>