<div class="col-md-10 col-md-offset-1">

  <h1> 預約表 </h1>

  <% if current_user.nil? %>
  <% else %>
    <%= link_to("新增預約", new_reservation_path, :class => "btn btn-primary pull-right") %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th> id </th>
        <th> 使用者 </th>
        <th> 開始時間 </th>
        <th> 結束時間 </th>
        <th> 時數 </th>
        <th> SEI </th>
        <th> BEI </th>
        <th> EDS </th>
        <th> EBSD </th>
        <th> 時段屬性 </th>
      <% if current_user.nil? %>
      <% else %>
        <th colspan="2"> </th>
      <% end %>
        
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %> 
      <tr>
        <td> <%= reservation.id %> </td>
        <td> <% if current_user.nil? || !current_user.admin? %>
               <%= reservation.member.name %>
             <% else %>
               <%= link_to(reservation.member.name, admin_member_path(reservation.member)) %>
             <% end %> </td>
        <td> <%= reservation.start_at %> </td>
        <td> <%= reservation.end_at %> </td>
        <td> <%= reservation.sum_hr %> </td>
        <td> <% if reservation.sei? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <% if reservation.bei? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <% if reservation.eds? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <% if reservation.ebsd? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <%= reservation.section_type %> </td>
      <% if current_user.nil? %>
      <% elsif current_user.admin? || (current_user.member.id == reservation.member_id) %>
        <td> <%= link_to(" Edit", 
                         edit_reservation_path(reservation), 
                         :class => "btn btn-primary fa fa-pencil-square-o")%>
             <%= link_to(" Delete", 
                         reservation_path(reservation), 
                         :class => "btn btn-danger fa fa-trash-o", 
                         :method => :delete,
                         data: { confirm: "Are you sure?" } ) %> </td>
      <% else %>
        <td> <%= "" %>
             <%= "" %> </td>
      <% end %>
      </tr>
      <% end %> 
    </tbody>
  </table>  

</div>