<div class="col-md-12">
  <h1> 十月份預約表 </h1>
  <table class="table table-striped">
    <tbody>
    <% @filtered_reservation.each do |result| %>
      <% if OfficeHr.find_by(date: result.date).nil? %>
      <h3> <%= result.date %> 放假 </h3>
      <tr>
        時段 00-09：
        <%= link_to("off_duty", new_reservation_path(date: result.date, time_id: 1)) %>
        <% result.reservations.each do |reservation| %>
          <%= reservation.start_at_time %> -
          <%= reservation.end_at_time %>
          <%= reservation.member.name %>
        <% end %>
      </tr><br />

      <tr>
        時段 09-12：
        <%= link_to("off_duty", new_reservation_path(date: result.date, time_id: 2)) %>
      </tr> <br />
      <tr>
        時段 12-14：
        <%= link_to("off_duty", new_reservation_path(date: result.date, time_id: 3)) %>
      </tr> <br />
      <tr>
        時段 14-17：
        <%= link_to("off_duty", new_reservation_path(date: result.date, time_id: 4)) %>
      </tr> <br />
      <tr>
        時段 17-20：
        <%= link_to("off_duty", new_reservation_path(date: result.date, time_id: 5)) %>
      </tr> <br />
      <tr>
        時段 20-24：
        <%= link_to("off_duty", new_reservation_path(date: result.date, time_id: 6)) %>
      </tr> <br />
      <% else %>
      <h3> <%= result.date %> 上班 </h3>
      <tr>
        時段 00-09：
        <%= link_to(OfficeHr.find_by(date: result.date).time_00_09, 
                    new_reservation_path(date: result.date, time_id: 1)) %>
        <% result.reservations.each do |reservation| %>
        <%= reservation.start_at_time %> -
        <%= reservation.end_at_time %>
        <%= reservation.member.name %>
        <% end %>
      </tr> <br />
      <tr>
        時段 09-12：
        <%= link_to(OfficeHr.find_by(date: result.date).time_09_12, 
                    new_reservation_path(date: result.date, time_id: 2)) %>
      </tr> <br />
      <tr>
        時段 12-14：
        <%= link_to(OfficeHr.find_by(date: result.date).time_12_14, 
                    new_reservation_path(date: result.date, time_id: 3)) %> 
      </tr> <br />
      <tr>
        時段 14-17：
        <%= link_to(OfficeHr.find_by(date: result.date).time_14_17, 
                    new_reservation_path(date: result.date, time_id: 4)) %> 
      </tr> <br />
      <tr>
        時段 17-20：
        <%= link_to(OfficeHr.find_by(date: result.date).time_17_20, 
                    new_reservation_path(date: result.date, time_id: 5)) %> 
      </tr> <br />
      <tr>
        時段 20-24：
        <%= link_to(OfficeHr.find_by(date: result.date).time_20_24, 
                    new_reservation_path(date: result.date, time_id: 6)) %>
      </tr> <br />
      <% end %>
    <% end %>
    </tbody>
  </table>

  <h1> 預約表 </h1>

  <% if current_user.nil? %>
  <% else %>
    <%= link_to("新增預約", new_reservation_path, :class => "btn btn-primary pull-right") %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th> id </th>
        <th> 使用者 </th>
        <th> 開始時間 </th>
        <th> 結束時間 </th>
        <th> 時數 </th>
        <th> SEI </th>
        <th> BEI </th>
        <th> EDS </th>
        <th> EBSD </th>
        <th> 時段屬性 </th>
      <% if current_user.nil? %>
      <% else %>
        <th colspan="2"> </th>
      <% end %>
        
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %> 
      <tr>
        <td> <%= reservation.id %> </td>
        <td> <% if current_user.nil? || !current_user.admin? %>
               <%= reservation.member.name %>
             <% else %>
               <%= link_to(reservation.member.name, admin_member_path(reservation.member)) %>
             <% end %> </td>
        <td> <%= reservation.start_at.to_s(:db) %> </td>
        <td> <%= reservation.end_at.to_s(:db) %> </td>
        <td> <%= number_to_human(reservation.sum_hr, units: {unit: "hrs"}) %> </td>
        <td> <% if reservation.sei? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <% if reservation.bei? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <% if reservation.eds? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <% if reservation.ebsd? %>
               <i class="fa fa-check"></i>
             <% end %> </td>
        <td> <%= reservation.section_type %> </td>
      <% if current_user.nil? %>
      <% elsif current_user.admin? || (current_user.member.id == reservation.member_id) %>
        <td> <%= link_to(" Edit", 
                         edit_reservation_path(reservation), 
                         :class => "btn btn-primary fa fa-pencil-square-o")%>
             <%= link_to(" Delete", 
                         reservation_path(reservation), 
                         :class => "btn btn-danger fa fa-trash-o", 
                         :method => :delete,
                         data: { confirm: "Are you sure?" } ) %> </td>
      <% else %>
        <td> <%= "" %>
             <%= "" %> </td>
      <% end %>
      </tr>
      <% end %> 
    </tbody>
  </table>  

</div>