<table class="table table-hover">
  <thead> 
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>電話</th>
      <th>帳號</th>
      <th>email</th>
      <th>SEI</th>
      <th>EDS</th>
      <th>EBSD</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <!-- FIXME: if member != current_user.member, hide ALL sensitive infos -->
    <tr>
      <td> <%= member.id %> </td>
      <td> <% if member == current_user.member %>
             <%= link_to(member.name, account_member_path(member)) %>
           <% else %>
             <%= hide_member_name_from_members(member) %>
           <% end %> </td>
      <td> <%= member.tel %> </td>
      <td> <% if User.find_by(name: member.name).present? %>
             <i class="fa fa-check"></i>
           <% else %>
             <i class="fa fa-remove"></i>
           <% end %> </td>
      <td> <%= member.email %> </td>
      <td> <%= member.sei %> </td>
      <td> <%= member.eds %> </td>
      <td> <%= member.ebsd %> </td>
    </tr>
    <% end %> 
  </tbody>
</table>