<table class="table table-hover">
  <thead> 
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>電話</th>
      <th>帳號</th>
      <th>email</th>
      <th>申請教學資格</th>
      <th>SEI教學完成</th>
      <th>SEI執照</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td> <%= link_to(member.id, account_member_path(member)) %> </td>
      <td> <%= link_to(member.name, account_member_path(member)) %> </td>
      <td> <%= member.tel %> </td>
      <td> <% if User.find_by(name: member.name).present? %>
             <i class="fa fa-check"></i>
           <% end %> </td>
      <td> <%= member.email %> </td>
      <td> <%= member.education_permitted %> </td>
      <td> <%= member.educated_for_sei %> </td>
      <td> <%= member.license_for_sei %> </td>
      <td> <%= link_to("Edit", 
                       edit_account_member_path(member), 
                       :class => "fa fa-pencil-square-o")%>
           <%= link_to("從使用單位移除", 
                       remove_from_org_account_member_path(member), 
                       :class => "fa fa-trash-o", 
                       :method => :patch,
                       data: { confirm: "Are you sure?" } )%> </td> 
    </tr>
    <% end %> 
  </tbody>
</table>