<table class="table table-hover">
  <thead> 
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>電話</th>
      <th>帳號</th>
      <th>email</th>
      <th>申請教學資格</th>
      <th>SEI教學完成</th>
      <th>SEI執照</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
    <!-- if member != current_user.member, hide sensitive infos -->
    <tr>
      <td> <%= member.id %> </td>
      <td> <% if member == current_user.member %>
             <%= link_to(member.name, account_member_path(member)) %>
           <% else %>
             <%= member.name %>
           <% end %> </td>
      <td> <%= member.tel %> </td>
      <td> <% if User.find_by(name: member.name).present? %>
             <i class="fa fa-check"></i>
           <% else %>
             <i class="fa fa-remove"></i>
           <% end %> </td>
      <td> <%= member.email %> </td>
      <td> <%= member.education_permitted %> </td>
      <td> <%= member.educated_for_sei %> </td>
      <td> <%= member.license_for_sei %> </td>
    </tr>
    <% end %> 
  </tbody>
</table>