<div class="col-md-12">
  <div class="member">
    <%= link_to("編輯使用者", edit_account_member_path(@member), :class => "btn btn-primary pull-right")%> 
  </div>
  <h1> 使用者 </h1>
  <h2> <%= @member.name %> </h2>
  <p> 電話： <%= @member.tel %> </p>
  <p> 隸屬單位： <%= link_to(@member.org.name, 
                           account_org_path(@member.org_id)) %> </p>
  <p> 收費標準： <%= link_to(@member.org.identity.classification, 
                           account_identity_path(@member.org.identity_id)) %> </p>
  <p> SEI/BEI執照： <%= @member.sei_bei_license %> </p>
  <p> EDS執照： <%= @member.eds_license %> </p>
  <p> EBSD執照： <%= @member.ebsd_license %> </p>

  <h3> 我的使用記錄 共<%= @records.size %>筆 </h3>
  <%= render "account/records/records_list" %>

</div>