<table class="table table-hover">
  <thead>
    <tr>
      <th> # </th>
      <th colspan="3"> 使用者資料 </th>
      <th colspan="3"> 時間 </th>
      <th colspan="4"> 使用時數 </th>
      <th colspan="7"> 使用費 </th>
      <th colspan="3"> 其他 </th>
      <th colspan="2"> </th>
    </tr>
    <tr>
      <th> # </th>
      <th> 姓名 </th>
      <th> 單位 </th>
      <th> 收費標準 </th>
      <th> 開始時間 </th>
      <th> 結束時間 </th>
      <th> 總時數 </th>
      <th> SEI </th>
      <th> SEI + EDS </th>
      <th> SEI + EBSD </th>
      <th> SEI + EDS + EBSD </th>
      <th> SEI </th>
      <th> SEI + EDS </th>
      <th> SEI + EBSD </th>
      <th> SEI + EDS + EBSD </th>
      <th> 原價 </th>
      <th> 折扣 </th>
      <th> 總價 </th>
      <th> 是否已開繳費通知單？ </th>
      <th> 是否已繳費？ </th>
      <th> 各使用單位當年度累計金額 </th>
      <th colspan="2"> </th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
    <tr>
      <td> <%= link_to(record.id, admin_record_path(record)) %> </td>
      <td> <%= link_to(record.member.name, admin_member_path(record.member_id)) %> </td>
      <td> <%= link_to(record.org_name, admin_org_path(record.org_id)) %> </td>
      <td> <%= link_to(record.identity_classificaion, admin_identity_path(record.org.identity_id)) %> </td>
      <td> <%= record.start_at.to_s(:db) %> </td>
      <td> <%= record.end_at.to_s(:db) %> </td>
      <!-- FIXME: use l18n to set one: "hr" other: "hrs" -->
      <td> <%= number_to_human(record.sum_hr, units: {unit: "hrs"}) %> </td>
      <td> <%= number_to_human(record.sei_hr, units: {unit: "hrs"}) %> </td>
      <td> <%= number_to_human(record.sei_eds_hr, units: {unit: "hrs"}) %> </td>
      <td> <%= number_to_human(record.sei_ebsd_hr, units: {unit: "hrs"}) %> </td>
      <td> <%= number_to_human(record.sei_eds_ebsd_hr, units: {unit: "hrs"}) %> </td>
      <td> <%= number_to_currency(record.sei_price, precision: 0) %> </td>
      <td> <%= number_to_currency(record.sei_eds_price, precision: 0) %> </td>
      <td> <%= number_to_currency(record.sei_ebsd_price, precision: 0) %> </td>
      <td> <%= number_to_currency(record.sei_eds_ebsd_price, precision: 0) %> </td>
      <td> <%= number_to_currency(record.original_price, precision: 0) %> </td>
      <td> <%= number_to_percentage(record.discount, precision: 0) %> </td>
      <td> <%= number_to_currency(record.sum_price, precision: 0) %> </td>
      <td> <% if record.payment_notice %>
             <i class="fa fa-check"></i>
           <% elsif record.payment_notice == false %>
             <i class="fa fa-times"></i>
           <% end %> </td>
      <td> <% if record.paid %>
             <i class="fa fa-check"></i>
           <% elsif record.paid == false %>
             <i class="fa fa-times"></i>
           <% end %> </td>
      <td> <%= record.sum_price_of_the_member %> </td>
      <td> <%= link_to("Edit", 
                       edit_admin_record_path(record), 
                       :class => "glyphicon glyphicon-edit")%>
           <%= link_to("Delete", 
                       admin_record_path(record), 
                       :class => "glyphicon glyphicon-trash", 
                       :method => :delete,
                       data: { confirm: "Are you sure?" } )%> </td> 
    </tr>
    <% end %> 
  </tbody>
</table>