<table class="table table-hover">
  <thead>
    <tr>
      <th> # </th>
      <th colspan="3"> 使用者資料 </th>
      <th colspan="3"> 時間 </th>
      <th colspan="4"> 使用費 </th>
      <th colspan="3"> 其他 </th>
      <th colspan="2"> </th>
    </tr>
    <tr>
      <th> # </th>
      <th width="70"> 姓名 </th>
      <th width="100"> 單位 </th>
      <th width="70"> 收費標準 </th>
      <th width="100"> 開始時間 </th>
      <th width="100"> 結束時間 </th>
      <th> 總時數 </th>
      <th width="300"> 明細 </th>
      <th> 原價 </th>
      <th> 折扣 </th>
      <th> 總價 </th>
      <th> 是否已開繳費通知單？ </th>
      <th> 是否已繳費？ </th>
      <th> 各使用單位 <br /> 當年度統計到前次實驗的累計金額 </th>
      <th> 各使用單位 <br /> 當年度統計到該次實驗的累計金額 </th>
      <th> 各使用單位 <br /> 當年度累計總金額 </th>
      <th colspan="2" width="500"> </th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
    <tr>
      <td> <%= record.id %> </td>
      <td> <%= link_to(record.member.name, admin_member_path(record.member_id)) %> </td>
      <td> <%= link_to(record.org_name, admin_org_path(record.org_id)) %> </td>
      <td> <%= link_to(record.identity_classificaion, admin_identity_path(record.org.identity_id)) %> </td>
      <td> <%= record.start_at.to_s(:db) %> </td>
      <td> <%= record.end_at.to_s(:db) %> </td>
      <!-- FIXME: use l18n to set one: "hr" other: "hrs" -->
      <td> <%= number_to_human(record.sum_hr, units: {unit: "hrs"}) %> </td>
      
      <!-- FIXME: DRY use [].join -->
      <td> <% if record.sei_hr != 0 %>
             <%= sei_price_detail(record) %> <br />
           <% end %>
           <% if record.sei_eds_hr != 0 %>
             <%= sei_eds_price_detail(record) %> <br />
           <% end %>
           <% if record.sei_ebsd_hr != 0 %>
             <%= sei_ebsd_price_detail(record) %> <br />
           <% end %>
           <% if record.sei_eds_ebsd_hr != 0 %>
             <%= sei_eds_ebsd_price_detail(record) %> <br />
           <% end %> </td>
      
      <td> <%= number_to_currency(record.original_price, precision: 0) %> </td>
      <td> <%= number_to_percentage(record.discount, precision: 0) %> </td>
      <td> <%= number_to_currency(record.sum_price, precision: 0) %> </td>

      <!-- FIXME: add_payment_to_record, and remove_payment_notice_and_paid_from_record -->
      <td> <% if record.payment_notice.nil? %>
           <% elsif record.payment_notice? %>
             <i class="fa fa-check"></i>
           <% else %>
             <i class="fa fa-remove"></i>
           <% end %> </td>

      <td> <% if record.paid.nil? %>
           <% elsif record.paid? %>
             <i class="fa fa-check"></i>
           <% else %>
             <i class="fa fa-remove"></i>
           <% end %> </td>
      
      <td> <%= number_to_currency(record.annually_sum_price_before_this_record, precision: 0) %> </td>
      <td> <%= number_to_currency(record.annually_sum_price_until_this_record, precision: 0) %> </td>
      <td> <%= number_to_currency(record.annually_sum_price, precision: 0) %> </td>

      <td> <%= link_to(" Edit", 
                       edit_admin_record_path(record), 
                       :class => "btn btn-primary fa fa-pencil-square-o")%>
           <%= link_to(" Delete", 
                       admin_record_path(record), 
                       :class => "btn btn-danger fa fa-trash-o", 
                       :method => :delete,
                       data: { confirm: "Are you sure?" } )%> </td> 
    </tr>
    <% end %> 
  </tbody>
</table>