<%= form_for [@org, @member] do |f| %>
  姓名： <%= f.text_field :name %> <br />
  電話： <%= f.text_field :tel %> <br />
  <%= f.check_box :education_permitted %> 申請教學資格 <br />
  <%= f.check_box :educated_for_sei %> SEI教學完成 <br />
  <%= f.check_box :license_for_sei %> SEI執照

  <div class="form-actions">
    <%= f.submit "Submit", :disable_with => 'Submitting...', :class => "btn btn-primary"%> 
  </div>
<% end %> 